code {
    overflow: initial;
    border-radius: 3px;
}

.more-result-previews img {
    max-width: 100%;
}

.previewContainer {
    width: 600px;
    max-height: 150vh;
    overflow-y: auto;
    margin-left: 2rem;
    padding-right: 0.5rem;
}

.previewContainer::-webkit-scrollbar, .previewContainer *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.previewContainer::-webkit-scrollbar-track, .previewContainer *::-webkit-scrollbar-track {
    background: rgba(var(--mrp-text-color), 0.1); 
}

.previewContainer::-webkit-scrollbar-thumb, .previewContainer *::-webkit-scrollbar-thumb {
    background: rgba(var(--mrp-text-color), 0.2); 
    border-radius: 100px;
}

.previewContainer::-webkit-scrollbar-thumb:hover, .previewContainer *::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--mrp-text-color), 0.3); 
}

.hljs {
    background-color: rgba(var(--mrp-text-color), 0.06) !important;
}