
#hdr :nth-child(2) {
    padding: 32.1px 0px 0px 35.8px;
}

#hdr :nth-child(3) {
    height: 44px;
    border: 2px solid #dadce0;
    border-radius: 100px;
    box-shadow: none;
}

#sf div.sbc.esbc {
    margin: 2.7px 3px;
}

#sf button[type=submit] {
    margin: -2px;
    height: 48px;
    width: 50px;
    background-position: 6px center;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: none;
    background-color: #1a73e8;
    cursor: pointer;
    box-sizing: border-box;
}

#hdr + div > :first-child {
    box-shadow: none;
    border-radius: initial; 
}

#hdr + div > :first-child > :first-child {
    border: none;
    background-color: transparent;
    margin-top: 12px;
}

#hdr + div > :first-child > :first-child > :first-child {
    height: auto;
}

#hdr + div > :first-child > :first-child > :first-child > :first-child {
    justify-content: flex-start;
    gap: 8px;
}

#hdr + div > :first-child > :first-child > :first-child > :first-child > *{
    padding: 0 8px;
    line-height: 40px;
}

#hdr + div > :first-child > :first-child > :first-child > :first-child > :last-child {
    border-left: none;
}

#hdr + div > :first-child > :first-child > :first-child > :first-child > :last-child > :first-child {
    padding: 0;
}

#hdr-border {
    position: absolute;
    border-bottom: 1px solid #dadce0;
    width: 100%;
    height: 0;
    left: 0;
}

#main-wrapper {
    display: flex;
}

#main {
    max-width: 652px;
}

#rich-results {
    margin-top: 148px;
    margin-left: 45px;
    width: 652px;
}