
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    border-radius: 3px;
}

.hljs {
    background: #f3f3f3;
    color: #444;
}

.hljs-copy-button {
    background-color: var(--mrr-color-80);
}

.clickexpand {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
}

.clickexpand[show] {
    max-height: min-content;
}

.clickexpand:not([show]):before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 0px, var(--mrr-color-100));
    cursor: pointer;
    z-index: 1;
}

.clickexpand-button {
    z-index: 2;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.clickexpand-button:hover {
    text-decoration: underline;
}

.preview-container {
    border-radius: 8px;
    color: var(--mrr-color-0);
    width: auto;
    font-size: 15px;
    margin-bottom: 1em;
    
    transition: visibility 0s, opacity .4s ease;

    visibility: visible !important;
    opacity: 100% !important;
    
    padding: 0;
    line-height: initial;

    /* border: 1px solid #dfe1e5;
    padding: 18px 24px; */

    /* box-shadow: 0.5px 1.5px 5px #00000015;
    padding: 14px 16px;
    border-radius: 9px; */
}

.preview-container img {
    width: 100%;
    margin-top: 1em;
}

.meta-container {
    display: flex;
    gap: 4px;
    font-size: 14px;
    color: var(--mrr-color-50);
}

.comment-toggle {
    display: none;
}

.comment-meta {
    font-size: 14px;
    line-height: 1.8em;
}

.comment-root {
    display: flex;
    align-items: stretch;
    margin: 15px 0 10px -8px;
    word-break: break-word;
}

.comment-border {
    padding: 0 8px;
}

.comment-toggle:not(:checked)~.comment-main {
    margin-bottom: -9.8px;
}

.comment-body {
    margin-top: -10px;
}

.comment-main {
    width: calc(100% - 20px);
}

.comment-border-g {
    border: none;
    border-left: 2px solid var(--mrr-color-80);
    margin: 0;
    height: 100%;
    width: 2px;
}

.comment-border:hover>.comment-border-g {
    border-left-color: var(--mrr-color-75);
}

.comment-border:active>.comment-border-g {
    border-left-color: var(--mrr-color-85);
}

.comment-border:hover {
    cursor: pointer;
    border-color: #014980;
}

.comment-toggle:checked~.comment-main>.comment-meta~* {
    display: none;
}

.comment-toggle:checked~.comment-main>.comment-meta {
    color: var(--mrr-color-75);
}

.comment-hidden::after {
    content: '[hide]';
    cursor: pointer;
}

.comment-toggle:not(:checked) ~ .comment-main > .comment-meta .comment-hidden::after {
    content: '[unhide]';
}

.preview-container hr {
    border: none;
    border-bottom: 1px solid var(--mrr-color);
}

.preview-container a {
    text-decoration: none;
}

.preview-container a:hover {
    text-decoration: underline;
}

.preview-container blockquote {
    border-left: 3px solid var(--mrr-color-80);
    padding-left: 6px;
    margin-left: 16px;
    color: var(--mrr-color-0);
}

.reddit-title-link {
    font-size: 20px;
    font-weight: 400;
    margin: 6px 0 -2px 0;
}