
/* 1371 x 708 ... 75% */

.mrrContainer {
    /* max-width: 500px;
    min-width: 460px;
    width: 30vw; */
    width: 500px !important;
    overflow-y: auto;
    /* padding-left: 6rem; */
    /* padding-right: 3rem; */
    font-size: max(0.9rem, 14px) !important;
    margin-bottom: 2em;
    font-size: inherit;
}

.mrrContainer > * {
    width: auto !important;
    margin-bottom: 2em;
}

.mrrContainer h1 { font-size: 1.8em; line-height: 1.2em; font-weight: normal; }
.mrrContainer h2 { font-size: 1.6em; line-height: 1.2em; font-weight: normal; }
.mrrContainer h3 { font-size: 1.3em; line-height: 1.2em; font-weight: normal; }
.mrrContainer h4 { font-size: 1.1em; line-height: 1.2em; font-weight: normal; }
  
.mrrContainer * {
    line-height: 1.6em;
    word-wrap: break-word;
}

.mrrContainer h1 {
    margin: 0.3em 0;
    padding: 0;
}

.mrrContainer pre {
    background-color: transparent;
    padding: 0;
}

.mrrContainer a {
    text-decoration: none;
    color: rgb(var(--mrr-link-color));
}
.mrrContainer a:hover {
    text-decoration: underline;
}

.mrrContainer hr {
    border: 0;
    border-bottom: 1px solid rgba(var(--mrr-color), 0.2);
}

.mrrContainer blockquote {
    color: rgba(var(--mrr-color), 0.7);
    padding-left: 0.5em;
    margin-left: 0.5em;
    border-left: 3px solid rgba(var(--mrr-color), 0.2);
}

.mrrContainer img { max-width: 100%; }

.mrrContainer li {
    margin-left: 1.5em;
    list-style: initial;
}

.mrrContainer .trimMargin *:first-child { margin-top: 0; }
.mrrContainer .trimMargin *:last-child { margin-bottom: 0; }

.mrrContainer::-webkit-scrollbar, .mrrContainer *::-webkit-scrollbar {
    width: 5px;
    height: 5px; 
}
.mrrContainer::-webkit-scrollbar-track, .mrrContainer *::-webkit-scrollbar-track {
    background: rgba(var(--mrr-color), 0.1); 
}
.mrrContainer::-webkit-scrollbar-thumb, .mrrContainer *::-webkit-scrollbar-thumb {
    background: rgba(var(--mrr-color), 0.2); 
    border-radius: 100px;
}
.mrrContainer::-webkit-scrollbar-thumb:hover, .mrrContainer *::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--mrr-color), 0.3); 
}

.hljs {
    background-color: rgba(var(--mrr-color), 0.06) !important;
    /* border-radius: 4px; */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
